__pycache__
.vscode
.tags

CMakeCache.txt
/CMakeFiles

/tmp
/.cache
/cache
/output
/build
/dist
tuyadb/
.build
.mirror

default.json
allconfig

gd32_os/MSDK/app/_build_date.h
gd32_os/MSDK/projects/cmake/output
gd32_os/MBL/project/cmake/bin
gd32_os/scripts/images/*.bin
tools/GD32MassProductionTool_v*
!tools/GD32MassProductionTool_v*.zip
