
#
# configure project
#
CONFIG_PROJECT_NAME="gd32vw5xx"
CONFIG_PROJECT_VERSION="1.0.0"
CONFIG_PROJECT_FRAMEWORK_BASE=y
# CONFIG_PROJECT_FRAMEWORK_ARDUINO is not set
CONFIG_FRAMEWORK_CHOICE="base"
# end of configure project

#
# configure platform [GD32]
#
# CONFIG_OPERATING_SYSTEM_LINUX is not set
CONFIG_OPERATING_SYSTEM_RTOS=y
CONFIG_OPERATING_SYSTEM=98
CONFIG_TUYA_LITTLE_ENDIAN=y
# CONFIG_BIG_ENDIAN is not set
CONFIG_LITTLE_END=1
# CONFIG_ENABLE_FILE_SYSTEM is not set
CONFIG_ENABLE_WIFI=y
# CONFIG_ENABLE_WIRED is not set
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_HCI=y
CONFIG_ENABLE_RTC=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_ENABLE_UART=y
CONFIG_ENABLE_FLASH=y
CONFIG_TUYA_FLASH_TYPE_MAX_PARTITION_NUM=10
CONFIG_ENABLE_ADC=y
CONFIG_ENABLE_PWM=y
CONFIG_ENABLE_GPIO=y
CONFIG_ENABLE_I2C=y
CONFIG_ENABLE_TIMER=y
CONFIG_ENABLE_SPI=y
CONFIG_ENABLE_QSPI=y
# CONFIG_ENABLE_RGB is not set
# CONFIG_ENABLE_MCU8080 is not set
# CONFIG_ENABLE_MEDIA is not set
# CONFIG_ENABLE_VAD is not set
# CONFIG_ENABLE_ASR is not set
# CONFIG_ENABLE_STORAGE is not set
# CONFIG_ENABLE_EXT_RAM is not set
# CONFIG_ENABLE_DAC is not set
# CONFIG_ENABLE_I2S is not set
CONFIG_ENABLE_WAKEUP=y
# CONFIG_ENABLE_REGISTER is not set
# CONFIG_ENABLE_PINMUX is not set
CONFIG_ENABLE_PLATFORM_AES=y
CONFIG_ENABLE_PLATFORM_SHA256=y
CONFIG_ENABLE_PLATFORM_MD5=y
CONFIG_ENABLE_PLATFORM_SHA1=y
CONFIG_ENABLE_PLATFORM_RSA=y
CONFIG_ENABLE_PLATFORM_ECC=y
# end of configure platform [GD32]

#
# configure tuyaopen
#

#
# configure tuya cloud service
#
CONFIG_TUYA_SECURITY_LEVEL=1
# CONFIG_ENABLE_BT_SERVICE is not set
# end of configure tuya cloud service

#
# AI Protocol Config
#
CONFIG_AI_MAX_FRAGMENT_LENGTH=8192
# CONFIG_ENABLE_AI_PROTO_DEBUG is not set
CONFIG_AI_BIZ_TASK_DELAY=10
CONFIG_AI_SESSION_MAX_NUM=2
CONFIG_AI_MAX_SESSION_ID_NUM=5
CONFIG_AI_MAX_ATTR_NUM=10
CONFIG_AI_PACKET_SECURITY_LEVEL=4
CONFIG_AI_CLIENT_STACK_SIZE=4096
CONFIG_AI_READ_SOCKET_BUF_SIZE=0
CONFIG_AI_WRITE_SOCKET_BUF_SIZE=8192
CONFIG_AI_HEAP_IN_PSRAM=n
# CONFIG_AI_STACK_IN_PSRAM is not set
# CONFIG_ENABLE_AI_MONITOR is not set
# end of AI Protocol Config

#
# configure enable/disable liblwip
#
# CONFIG_ENABLE_LIBLWIP is not set
# end of configure enable/disable liblwip

#
# configure mbedtls
#
# CONFIG_ENABLE_MBEDTLS_DEBUG is not set
CONFIG_ENABLE_CUSTOM_CONFIG=y
# CONFIG_ENABLE_MBEDTLS_SSL_MAX_FRAGMENT_LENGTH is not set
CONFIG_ENABLE_MBEDTLS_CLIENT_SSL_SESSION_TICKETS=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=16384
CONFIG_ENABLE_MBEDTLS_HAVE_TIME=y
# CONFIG_ENABLE_MBEDTLS_HAVE_TIME_DATE is not set
# CONFIG_ENABLE_MBEDTLS_FS_IO is not set
CONFIG_ENABLE_MBEDTLS_NET_C=y
# CONFIG_ENABLE_MBEDTLS_HAVEGE_C is not set
# CONFIG_ENABLE_MBEDTLS_TIMING_C is not set
# CONFIG_ENABLE_MBEDTLS_ARC4_C is not set

#
# Symmetric Ciphers
#
CONFIG_ENABLE_MBEDTLS_DES_C=y
CONFIG_ENABLE_MBEDTLS_CAMELLIA_C=y
# CONFIG_ENABLE_MBEDTLS_BLOWFISH_C is not set
# CONFIG_ENABLE_MBEDTLS_XTEA_C is not set
CONFIG_ENABLE_MBEDTLS_CCM_C=y
CONFIG_ENABLE_MBEDTLS_GCM_C=y
# end of Symmetric Ciphers

#
# Asymmetric Ciphers
#
CONFIG_ENABLE_MBEDTLS_RSA_C=y
CONFIG_ENABLE_MBEDTLS_GENPRIME=y
CONFIG_ENABLE_MBEDTLS_DHM_C=y
CONFIG_ENABLE_MBEDTLS_ECP_C=y
CONFIG_ENABLE_MBEDTLS_PK_C=y
CONFIG_ENABLE_MBEDTLS_ECDH_C=y
CONFIG_ENABLE_MBEDTLS_ECDSA_C=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP192R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP224R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP521R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP192K1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP224K1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP256K1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_BP256R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_BP384R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_BP512R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_CURVE448_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_NIST_OPTIM=y
# CONFIG_ENABLE_MBEDTLS_ECP_RESTARTABLE is not set
# end of Asymmetric Ciphers

#
# Certificates
#
CONFIG_ENABLE_MBEDTLS_X509_CRT=y
CONFIG_ENABLE_MBEDTLS_PEM_PARSE_C=y
CONFIG_ENABLE_MBEDTLS_PEM_WRITE_C=y
CONFIG_ENABLE_MBEDTLS_X509_CRL_PARSE_C=y
CONFIG_ENABLE_MBEDTLS_X509_CSR_PARSE_C=y
# end of Certificates

# CONFIG_ENABLE_MBEDTLS_CHACHA20_C is not set
# CONFIG_ENABLE_MBEDTLS_CMAC_C is not set
CONFIG_ENABLE_MBEDTLS_HMAC_DRBG_C=y
# CONFIG_ENABLE_MBEDTLS_POLY1305_C is not set
# CONFIG_ENABLE_MBEDTLS_RIPEMD160_C is not set
# CONFIG_ENABLE_MBEDTLS_TLS_SERVER_AND_CLIENT is not set
# CONFIG_ENABLE_MBEDTLS_TLS_SERVER_ONLY is not set
CONFIG_ENABLE_MBEDTLS_TLS_CLIENT_ONLY=y
# CONFIG_ENABLE_MBEDTLS_TLS_DISABLED is not set
CONFIG_ENABLE_MBEDTLS_SSL_CLI_C=y
CONFIG_MBEDTLS_TLS_ENABLED=y
# CONFIG_ENABLE_MBEDTLS_SSL_PROTO_TLS1 is not set
# CONFIG_ENABLE_MBEDTLS_SSL_PROTO_TLS1_1 is not set
CONFIG_ENABLE_MBEDTLS_SSL_PROTO_TLS1_2=y
# CONFIG_ENABLE_MBEDTLS_SSL_PROTO_DTLS is not set

#
# TLS Key Exchange Methods
#
CONFIG_ENABLE_MBEDTLS_PSK_MODES=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_DHE_PSK=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_RSA_PSK=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_RSA=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_DHE_RSA=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ELLIPTIC_CURVE=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDHE_RSA=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDH_RSA=y
# end of TLS Key Exchange Methods
# end of configure mbedtls

#
# configure system parameter
#
CONFIG_STACK_SIZE_TIMERQ=4096
CONFIG_STACK_SIZE_WORK_QUEUE=5120
CONFIG_MAX_NODE_NUM_WORK_QUEUE=100
CONFIG_STACK_SIZE_MSG_QUEUE=4096
CONFIG_MAX_NODE_NUM_MSG_QUEUE=100
# end of configure system parameter

# CONFIG_ENABLE_LIBLVGL is not set

#
# configure device driver
#
CONFIG_ENABLE_BUTTON=y
CONFIG_BUTTON_NAME="button1"
# CONFIG_ENABLE_BUTTON_2 is not set
CONFIG_ENABLE_LED=y
CONFIG_LED_NUM=3
CONFIG_LED_NAME="led"
CONFIG_LED_NAME_2="led2"

CONFIG_LED_NAME_3="led3"
CONFIG_ENABLE_AUDIO_CODECS=n
# CONFIG_ENABLE_DISPLAY is not set
# CONFIG_ENABLE_ENCODER is not set
# CONFIG_ENABLE_JOYSTICK is not set
# CONFIG_ENABLE_PMIC is not set
# CONFIG_ENABLE_CAMERA is not set
# CONFIG_ENABLE_IR is not set
# CONFIG_ENABLE_LEDS_PIXEL is not set
# end of configure device driver

# CONFIG_ENABLE_TUYA_P2P is not set
# end of configure tuyaopen
